<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/beea1ecf-821b-472f-afb8-423638bcd25a/resourceGroups/berg8/providers/Microsoft.Web/sites/berg8apidev</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://berg8apidev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>berg8apidev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>berg8apidev</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$berg8apidev</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>